build/*
!build/.void
.wget-hsts
.bash_history
.lesshst
.viminfo
.ssh
environment/*/*/build/**
environment/*/*/output/boot/Image
environment/*/*/output/rootfs/*
environment/*/*/install/lib/modules/*
environment/*/*/install/lib/firmware/RPU-demo-*
environment/*/*/install/root/tests/test_omnivisor_guest/experiments/boot_exp/inmates/RPU/*
environment/*/*/install/root/tests/test_omnivisor_guest/experiments/boot_exp/inmates/APU/*
environment/*/*/install/root/tests/test_omnivisor_guest/experiments/boot_exp/inmates/RISCV/*
environment/.build_env
log
**/*_old